* {
	box-sizing:border-box;
}
html,body{
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
}
h3{
	font-size:2rem;
}
.list-item
{
	list-style:none;
}
.list-link{
   text-decoration:none;
   color:#33ffff;
   text-transform:uppercase;
}